<%- include('head') %>
<%- include('header') %>
<h1>About us</h1>

<section>
    <h2>mission</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, illum totam? Id ipsum debitis natus vero? Magni, dolorum deleniti inventore odit similique laboriosam ipsa, doloribus excepturi ab facere dolorem unde. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, alias vero! Quae earum eum sint asperiores reiciendis harum facilis. Similique labore sit in! Inventore mollitia aliquam veniam aliquid molestiae obcaecati?</p>
<img src="../img/josue-isai-ramos-figueroa-qvBYnMuNJ9A-unsplash.jpg" alt="">
</section>
<section>
    <h2>How we Work</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, illum totam? Id ipsum debitis natus vero? Magni, dolorum deleniti inventore odit similique laboriosam ipsa, doloribus excepturi ab facere dolorem unde. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, alias vero! Quae earum eum sint asperiores reiciendis harum facilis. Similique labore sit in! Inventore mollitia aliquam veniam aliquid molestiae obcaecati?</p>
    <img src="../img/thisisengineering-raeng-xYCBw1uIP_M-unsplash.jpg" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, illum totam? Id ipsum debitis natus vero? Magni, dolorum deleniti inventore odit similique laboriosam ipsa, doloribus excepturi ab facere dolorem unde. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, alias vero! Quae earum eum sint asperiores reiciendis harum facilis. Similique labore sit in! Inventore mollitia aliquam veniam aliquid molestiae obcaecati?</p>
</section>
<%- include('footer') %>